h2 {font-size:18px; padding:0px; margin:0px; margin-top:10px;}
h2.komentarze{font-size:14px; padding:0px; margin:0px; margin-top:10px; border-bottom:solid 1px #000000;}
h2.admin{font-size:14px; padding:0px; margin:0px; margin-top:10px; }
p.data{font-size:12px; padding:0px; margin:0px; margin-top:5px; }
p.tresc{font-size:12px; padding:0px; margin:0px; margin-top:5px; }
p.kategoria{font-size:12px; padding:0px; margin:0px; margin-top:5px; }
p.komentarztresc{font-size:12px; padding:0px; margin:0px; margin-top:5px; }
div.pozytywne{padding:10px; margin:10px; text-align:center; color:#336699; border:solid 1px #336699;}
div.zle {padding:10px; margin:10px; text-align:center; color:#600000; border:solid 1px #600000;}